---
# Main scss file
---
@charset "utf-8";

@import
  'normalize',
  'solo',
  'syntax';

.logo {
 font-family: 'Pacifico', cursive;
 font-size: 2.8em
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Roboto', cursive;
}

a, a:hover, a:visited {
 color: #24292e;
  font-weight: bold;
}
